body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #E9EBEE;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
}


header{
  background-color: #088C6F;
  box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.35);
  color: #fff;
  position: fixed;
  top: 0;
  margin-top: 0 !important; 
  padding-bottom: 5px;
  width: 100%;
  z-index: 2;
}

header h2{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
  font-family: 'Titillium Web';
  font-weight: 700;
}

header i{
  position: absolute;
  top: 20px;
  float: right;
  right: 10px;
  font-size: 1.5em !important;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}

header i:hover{
  transform: scale(1.2);
}

#content{
  margin-top: 100px;
}

.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);  
}

.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col-md-4, .col-xs-12, .col-sm-6{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

@media(min-width: 768px){
  header h2{
    font-size: 2.4em;
  }

  header i{
    font-size: 2.4em !important;
    right: 100px;
  }

  .col-md-4,.col-sm-6{
    padding-left: 15px;
    padding-right: 15px;
  }
}
